# **List, Tuple & Set**

## **1. List**
* In Python, List is a data type used to store different data types values in a single variable.
* List is mutable, means you can add, remove or change the items of list after creating it.

In [2]:
# Let's make a list variable
l = ['subhan', 23, 48.89, 5 + 9j, True]

#### **1.1 List Indexing**
* List indexing is a way to access the elements of a list by their position.
* In Python, the first element of list has index 0. second has 1 and so on.

In [3]:
l

['subhan', 23, 48.89, (5+9j), True]

In [4]:
# ['subhan', 23, 48.89, (5+9j), True]
#     0      1     2      3      4   --> respective indices of elements in the list

# now access the 2nd element of list 'l'
l[1]

23

* **Negative Indexing**\
  \
  You can also do negative list indexing. It statr accessing the elements from the end of list

In [5]:
# ['subhan', 23, 48.89, (5+9j), True]
#    -5     -4    -3     -2     -1   --> respective negative indices of elements in the list

# now access the 5th elament 'True' in the list through negative indexing
l[-1]

True

* **Index out of range**\
  \
  If you give the index that is not available in the list, Python gives you error.

In [6]:
#    -5     -4    -3     -2     -1
# ['subhan', 23, 48.89, (5+9j), True]
#     0      1     2      3      4

# as you can see the both positive & negative indices of list
# if we give the index that is not in the list, it gives error

# now give the index '6', as you can see it is not available in the list --> it gives error
l[6]

IndexError: list index out of range

#### **1.2 List Slicing**
* List slicing is a way to access the sub-list from the original list.
* For slicing, you give starting and ending index enclosed within square brackets, e.g **[start : end]**.
* Note that the value/element at the ending index is not included in the output.

In [ ]:
# call the list variable
l

['subhan', 23, 48.89, (5+9j), True]

In [ ]:
#    -5     -4    -3     -2     -1
# ['subhan', 23, 48.89, (5+9j), True]
#     0      1     2      3      4

# now slice the list
l[0 : 3]

# as you can see the element at the ending index (3rd index) is not included in the output

['subhan', 23, 48.89]

* **Negative Slicing**

In [ ]:
#    -5     -4    -3     -2     -1
# ['subhan', 23, 48.89, (5+9j), True]

# call the variable
l

['subhan', 23, 48.89, (5+9j), True]

* **Slicing with jumping index**\
  \
  By default, the jumping index is 1.

In [ ]:
# slicing with jumping index
# [start : end : jumping index]

l[0 : 5 : 2]

['subhan', 48.89, True]

* **Empty Index**\
  \
  If you leave the starting index, Python start indexing from the start of the list and goes upto the ending index.\
  \
  If you leave the ending index, Python start indexing from the starting index and goeas upto the end of the list.\
  \
  If you leave the both starting & ending index, Python slice the complete list.

In [ ]:
# Leaving the starting index
l[:4]

['subhan', 23, 48.89, (5+9j)]

In [ ]:
# Leaving the ending index
l[2:]

[48.89, (5+9j), True]

In [ ]:
# Leaving the both starting and ending index
l[:]

['subhan', 23, 48.89, (5+9j), True]

* **Reverse the list**

In [ ]:
l

['subhan', 23, 48.89, (5+9j), True]

In [ ]:
# reverse the list
l[::-1]

[True, (5+9j), 48.89, 23, 'subhan']

* **List Concatenation**\
  \
  List can only concatenate with list

In [7]:
# call the list
l

['subhan', 23, 48.89, (5+9j), True]

In [8]:
# Let's make a string variable
s = 'pwskills'

# Now let's try to concatenate list(l) with string(s)
l + s

TypeError: can only concatenate list (not "str") to list

In [ ]:
# As you can see Python gives error when we try to concatenate list with string
# List can concatenate with string only

#### **1.3 List Built-in Functions**

In [9]:
# call the variable
l

['subhan', 23, 48.89, (5+9j), True]

* **Length Function**\
  \
  It tells how many characters are in the list.

In [10]:
# Length Function
len(l)

5

* **Append Function**\
  \
  It add the element/character at the end of the list.

In [11]:
# Append Function

# we want to add '12' in the list(l)
l.append(12)
l

['subhan', 23, 48.89, (5+9j), True, 12]

In [12]:
# Let's try to add a new list(l1) in the list(L)

# create a new list variable(l1)
l1 = [1,2,3,4]

# now add it in the list variable(l) using append function
l.append(l1)
l

['subhan', 23, 48.89, (5+9j), True, 12, [1, 2, 3, 4]]

In [13]:
# Now add string(s) in the list(l)
l.append(s)
l

['subhan', 23, 48.89, (5+9j), True, 12, [1, 2, 3, 4], 'pwskills']

* **Extend Function**\
  \
  It first unwrap the element and then add it at the end of the list.
  \
  It accepts only iterable elements (data within data)

In [14]:
# call the list variable
l

['subhan', 23, 48.89, (5+9j), True, 12, [1, 2, 3, 4], 'pwskills']

In [15]:
# Let's try to add the string 'food' in the list(l) using extend function
l.extend('food')
l

['subhan',
 23,
 48.89,
 (5+9j),
 True,
 12,
 [1, 2, 3, 4],
 'pwskills',
 'f',
 'o',
 'o',
 'd']

In [ ]:
# As you see extend function first unwrap the string 'food' into 'f', 'o', 'o', 'd'
# and then add the unwrapped elements at the end of the list

* **Insert Function**\
  \
  It add the elements at the index/position, where you want.\
  It actually add the element at the specific index and push the previous value at that index to next.

In [16]:
# Let's try to add '56.89' at 4th index in the list(l) using insert function
l.insert(4, '56.89')
l

['subhan',
 23,
 48.89,
 (5+9j),
 '56.89',
 True,
 12,
 [1, 2, 3, 4],
 'pwskills',
 'f',
 'o',
 'o',
 'd']

In [17]:
# add element using negative index
l.insert(-3, 4)
l

['subhan',
 23,
 48.89,
 (5+9j),
 '56.89',
 True,
 12,
 [1, 2, 3, 4],
 'pwskills',
 'f',
 4,
 'o',
 'o',
 'd']

* **Pop Function**\
  \
  By default, it remove the element from the list at -1th index.\
  You can also remove a specific element by giving its index.

In [18]:
# Pop Function
l.pop()
l

['subhan',
 23,
 48.89,
 (5+9j),
 '56.89',
 True,
 12,
 [1, 2, 3, 4],
 'pwskills',
 'f',
 4,
 'o',
 'o']

In [19]:
# remove element by giving the index
l.pop(4)
l

['subhan',
 23,
 48.89,
 (5+9j),
 True,
 12,
 [1, 2, 3, 4],
 'pwskills',
 'f',
 4,
 'o',
 'o']

* **Remove Function**\
  \
  It remove the first occurrance of the element

In [20]:
# Remove Function
l.remove(True)
l

['subhan', 23, 48.89, (5+9j), 12, [1, 2, 3, 4], 'pwskills', 'f', 4, 'o', 'o']

* **Reverse Function**\
  \
  It reverse the list permanenly.

In [21]:
# Reverse Function
l.reverse()
l

['o', 'o', 4, 'f', 'pwskills', [1, 2, 3, 4], 12, (5+9j), 48.89, 23, 'subhan']

* **Sort Function**\
  \
  Sort elements in asending or descending order.

In [22]:
# first create a new list variable
l2 = [2,7,4,9,10,56,87,23,11,1]

# now sort the list(l2) in asending order
l2.sort()
l2

[1, 2, 4, 7, 9, 10, 11, 23, 56, 87]

In [23]:
# now let's try to sort(l2) in descending order
l2.sort(reverse=True)
l2

[87, 56, 23, 11, 10, 9, 7, 4, 2, 1]

* **Index Function**\
  \
  Take value and give its respective index.

In [24]:
# call the variable
l2

[87, 56, 23, 11, 10, 9, 7, 4, 2, 1]

In [26]:
l2.index(23)

2

* **Count Function**\
  \
  Check how many times a specific chracter repeat in a list.

In [27]:
# first create a new variable list
l3 = [1,2,3,3,3,3,3,3,3,3,3,1,2,3]

# now let's check how many times '3' repeats in the list(l3)
l3.count(3)

10

## **2. Tuple**
* A tuple is used to store different data types in a single variable.
* It is similar to lists, but they are immutable, which means that they can't changed once they are created.

In [39]:
# Let's create a tuple variable
t = (1, 2.9, True, 6+9j, 'wood')

In [29]:
# check the type of variable 't'
type(t)

tuple

In [30]:
# check the length of variable 't' 
len(t)

5

In [31]:
# indexing of variable 't'
t[3]

(6+9j)

In [32]:
# negative indexing
t[-3]

True

In [33]:
# slicing of variable 't'
t[1 : 4]

(2.9, True, (6+9j))

In [34]:
# Slicing with jumping index
t[0 : 5 : 2]

(1, True, 'wood')

In [36]:
# leaving the starting index
t[ : 4]

(1, 2.9, True, (6+9j))

In [37]:
# Leaving the ending index
t[2 : ]

(True, (6+9j), 'wood')

In [35]:
# reverse the tuple
t[ : : -1]

('wood', (6+9j), True, 2.9, 1)

### **1.1 Buit-in Functions**

* **Count Function**\
  \
  Check how many times a specific chracter repeat in a list.

In [40]:
# Count Function
t.count(1)

2

* **Index Function**\
  \
  Take value and give its respective index.

In [41]:
# Index Function
t.index('wood')

4

## **3. Set**
* A set is an unordered collection of unique elements.
* Set accecpts immutable data like integer, string tuple etc.
* Indexing and slicing doesn't work in sets
* It remove duplicate elements
* Python assumes empty set as dictionary

In [42]:
# let's create a set variable 
s = {2,2,2,2,2,345,678,90,123,45,6,6,6,6,78,"Box"}
s

{123, 2, 345, 45, 6, 678, 78, 90, 'Box'}

In [ ]:
# As you can see 
# removes the duplicates

In [44]:
# check the type of set(s)
type(s)

set

In [43]:
# empty set = dictionary
s1 = {}

# now check the type of empty set(s1)
type(s1)

dict