# **Dictionary**
* In Python, dictionary is a data type thate stores data in key-value pair.
* A key is a unique identifier for a value, and a value can be any type of data.
* Dictionaries are mutable, which means that they can be changed after they are created.

In [1]:
# Ler's create a dictionary variable
d = {'name' : 'subhan', 'Education' : 'Phd in Data Science', 'Business' : 'Data Science Agency', 'Assets' : 'Digital Products', 'Islamic' : 'Dars-e-Nizami'}
d

{'name': 'subhan',
 'Education': 'Phd in Data Science',
 'Business': 'Data Science Agency',
 'Assets': 'Digital Products',
 'Islamic': 'Dars-e-Nizami'}

In [2]:
# you can take key as a integer, string, boolean etc.
d1 = {1 : 'food', 'age' : 23, True : 1}

In [3]:
# create a new dictionary variable
d2 = {'food' : 'Biryani', 'drink' : 'Milkshake', 'food' : 'Jalebi'}

# if same keys repeats in a dictionary, python overwrite the previous keys with the last one
d2['food']

In [6]:
# create a new dictionary variable
d3 = {'skill' : 'Data Science', 'courses' : ['Masters',  'Google', 'ZTM courses', 'ZU books']}

# extract the character from the list within the dictionary
d3['courses'][1]

'Google'

In [7]:
# add new value in dictionay variable 'd2'
d2['new value'] = 48
d2

{'food': 'Jalebi', 'drink': 'Milkshake', 'new value': 48}

In [8]:
# delete the key
del d2['food']
d2

{'drink': 'Milkshake', 'new value': 48}

In [9]:
# extract list of all keys
list(d.keys())

['name', 'Education', 'Business', 'Assets', 'Islamic']

In [10]:
# extract list of all values
list(d.values())

['subhan',
 'Phd in Data Science',
 'Data Science Agency',
 'Digital Products',
 'Dars-e-Nizami']

In [11]:
# list of all key-value pair
list(d.items())

[('name', 'subhan'),
 ('Education', 'Phd in Data Science'),
 ('Business', 'Data Science Agency'),
 ('Assets', 'Digital Products'),
 ('Islamic', 'Dars-e-Nizami')]

In [14]:
# call the variable
d2

{'drink': 'Milkshake', 'new value': 48}

In [15]:
# remove the key using pop function
d2.pop('drink')
d2

{'new value': 48}